@charset "UTF-8";
/*jQueryMobile修正*/
.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button{
	font-family: 'Fredericka the Great', cursive;
}
.ui-page {
	background:/*#f0c064*/#F7F2E0/*#00C4AD*/;
	/*background: url(../img/bg-ehon.png) repeat;*/
	/*color: #fff;*/
}
/*コンテンツ*/
.head{
	background-color:white;
	background-repeat: no-repeat;
	background-size:100% auto;
	/*background-position:bottom;*/
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2)
{
.head{
	
}
}
@media screen and (min-width: 600px) 
{
.head{
	
}
}
#home h1 img{
	margin:auto;
}

h1{
	font-size:70px;
	color : #3b1e14;
}
h2{
	font-size:40px;
	color : #e85356;
}
p{
   font-size:20px;
   color : #000000;
}
h4{
}
.samune{
	float:left;
}
.readbottun{
	clear:left;
}
/*ギャラリー*/
.gallery {
	list-style: none; padding: 0; margin: 0;
}
.gallery li {
	float: left;
	width: 33.33333333%; 
}
.gallery li a {
	display: block;
	margin: 5px;
	background:/*#e2bf86*/ #E3DECC;
	/*background-color:#3b1e14;*/
	/*border: 1px solid #3c3c3c;*/
}
.gallery li img {
	display: block;
	width: 100%;
	height: auto;
}
#gallery1 .ui-content, #gallery2 .ui-content, #gallery3 .ui-content {
	overflow: hidden;
}
